@charset "UTF_8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Android";
    src: url(fontes/idroid.otf) format(opentype);
    font-weight: normal;
}

:root {
    --cor01: #c5ebd6;
    --cor02: #83e1ad;
    --cor03: #3ddc84;
    --cor04: #2fa866;
    --cor05: #1a5c37;
    --cor06: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: o', 'cursive';
    --fonte-titulos: 'Android', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor01);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor06));
    min-height: 100px;
    text-align: center;
    padding: 40px;

}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;

}

header > p {
    color: white;
    font-size: 1.2em;
    min-width: 400px;
    padding: 10px;
}

nav {
    background-color: var(--cor06);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.553);
    padding: 10px;
}

nav > a {
    color: white;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.2s;
    border-radius: 7px;
    margin-left: 30px;
}

nav > a:hover {
    background-color: var(--cor04);
    color: var(--cor06);
}

main {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.482);
    border-radius: 0px 0px 10px 10px;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 20px;
}

main h1 {
    color: var(--cor06);
    font-family: var(--fonte-titulos);
    color: #1a5c37;
    font-size: 2.5em;
}

main h2 {
    font-family: var(--fonte-titulos);
    color: #2fa866;
    background-image: linear-gradient(to left, var(--cor02) var(--cor01));
    font-size: 1.5em;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 10px;
    line-height: 1.75em;
}

main strong {
    font-weight: bold;
    color: var(--cor05);
}

main a {
    text-decoration: none;
    color: var(--cor05);
    padding: 3px 4px;
    background-color: #83e1ad;
    font-weight: bold;
}

main a:hover {
    color: var(--cor06);
    text-decoration: underline;
}

main img {
    width: 100%;
}

main img.small {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: #063d1e;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 7%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: #3ddc84;
    border-radius: 10px;
    padding: 10px;
}


aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

aside > h3 {
    background-color: #1a5c37;
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    margin: -10px -10px 0px -10px;
}

footer {
    text-align: center;
    background-color: var(--cor06);
    color: white;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;

}

footer a:hover {
    color: var(--cor02);
    text-decoration: underline;
}


